button{
    margin: 5px 15px 5px 0px;
}

.buttons > div,
.modals > div, 
.loadings > div,
.notice > div{
    margin-bottom: 25px;
}

.loadings .item {
    margin: 10px 40px 10px 0;
}

.notice button{
    margin: 0px;
}

.notice .wrap{
    margin: 5px 15px 5px 0px;
}
